#glava {
    text-align: center;
    padding-top: 30px;
}

.naslov {
    font-family: arial;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: black;
}

.podnaslov {
    font-family: arial;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -12px;
}

.obrazec {
    margin: 0 auto;
    padding: 100px 100px 70px 100px;
    height: 150px;
    width: 150px;
    background-color: #f5f5f5;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 #c0c0c0;
}

.slika-krog {
    border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    margin-bottom: auto;
    display: block;
}

.vnesi {
    font-size: 16px;
    height: auto;
    margin: 0 -60px;
    width: 250px;
    padding: 10px;
}

.vnesi:hover {
    border-color: lightgray;
}

.vnesi:active {
    border-color: 2px solid blue;
}

button {
    height: auto;
    width: 276px;
    padding: 10px;
    margin-top: 8px;
    margin-left: -62px;
    background-color: #4d90fe;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #3E82F0;
}

.iskanje-racuna {
  margin-top: 15px;
  margin-right: -60px;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.iskanje a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3E82F0;
}

a:hover {
  text-decoration: underline;
}

.nov-racun {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: blue;
}

.en-racun {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    color: #555555;
}

.povezave {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.noga-levo {
  height: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #F7F7F7;
  border-top: 1px solid lightgray;
  padding: 7px 44px 0 44px;
}

.noga-levo a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #737373;
  padding: 0 10px;
}

.noga-levo a:hover {
  text-decoration: underline;
}

.noga-desno {
  float: right;
}

.jeziki {
 border: 1px solid gray;
 background-color: #ffffff;
 width: 175px;
 height: 24px;
 padding: 0;
 padding-bottom: -10px;
 margin: 0 2px;
 margin-top: 2px;
 margin-right: 85px;

}
